#map {
  height: 50vh;
  /* margin: 0 auto; */
  width: 100%;
}

.spinner-loader {
  border: 5px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #005EA5;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  p: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#invalid-postcode-error {
  display: none;
}

.govuk-width-container {}

#main-content {
  width: 50vw;
  margin: 0 auto;
}

.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 40px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: grey;
}