#map {
  /* display: none; */
  height: 70vh;
  width: 90vw;
  margin: 0 auto;
}

.spinner-loader {
  border: 5px solid #DEE0E2;
  border-radius: 50%;
  border-top-color: #005EA5;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#invalid-postcode-error {
  display: none;
}